create a new song

<form action="/songs" method="/POST">
  <label>Artist</label>
  <input type="text" name="Artist Name"> <br>
  <br>
  <label>Title</label>
  <input type="text" name="Name">
  <br>
  <label>Genre</label>
  <label> Genres </label>
  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
  <% end %>

  <input type="submit" value="Create">
</form>
